<div class="sidebar">

    <div class="logo">
        <h2>VRIP</h2>
        <p>Vendor Reliability</p>
    </div>

    <nav>

        <a routerLink="/dashboard">
            <span class="material-icons">dashboard</span>
            Dashboard
        </a>

        <a routerLink="/vendors">
            <span class="material-icons">business</span>
            Vendors
        </a>

        <a>
            <span class="material-icons">shopping_cart</span>
            Procurement
        </a>

        <a>
            <span class="material-icons">analytics</span>
            Analytics
        </a>

        <a>
            <span class="material-icons">assessment</span>
            Reports
        </a>

        <a routerLink="/profile">
            <span class="material-icons">person</span>
            Profile
        </a>

    </nav>

</div>