<header class="navbar">

    <div class="left">

        <h2>Vendor Reliability Intelligence Platform</h2>

    </div>

    <div class="right">

        <button class="icon-btn">
            <span class="material-icons">notifications</span>
        </button>

        <button class="icon-btn">
            <span class="material-icons">settings</span>
        </button>

        <div class="profile">

            <div class="avatar">
                C
            </div>

            <div>

                <h4>Chirag</h4>
                <p>Frontend Developer</p>

            </div>

        </div>

    </div>

</header>