<div class="vrip-card">
  <div class="vrip-card-header" *ngIf="title || subtitle || hasActions">
    <div class="vrip-card-title-group">
      <h3 class="vrip-card-title" *ngIf="title">{{ title }}</h3>
      <p class="vrip-card-subtitle" *ngIf="subtitle">{{ subtitle }}</p>
    </div>
    <div class="vrip-card-actions" *ngIf="hasActions">
      <ng-content select="[card-actions]"></ng-content>
    </div>
  </div>
  <div class="vrip-card-content" [ngClass]="{'no-padding': noPadding}">
    <ng-content></ng-content>
  </div>
</div>
